.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.form {
    width: 30%;
    text-align: center;
}
.form__input {
    margin-bottom: 10px;
    width: 100%;
}

.form__button {
    width: 100%;
}
