.MeetUp {
    padding: 10px
}

.MeetUp__table {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    /* border-collapse: collapse; */
    border-spacing: 0
}

.MeetUp__thead {
    background-color: rgb(194, 194, 194);
}

.MeetUp__td, 
.MeetUp__th {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.MeetUp__td:nth-child(n+2) {
    width: 200px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

tr:last-child MeetUp__td:first-child {
    border-bottom-left-radius: 10px;
}
tr:first-child MeetUp__td:last-child {
    border-bottom-right-radius: 10px;
}