.MeetUpsList {
    padding: 10px
}

.MeetUpsList__table {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    /* border-collapse: collapse; */
    border-spacing: 0
}

.MeetUpsList__thead {
    background-color: rgb(230, 230, 230);
}

.MeetUpsList__tr:hover {
    background-color: rgb(199, 199, 199);
}

.MeetUpsList__td, 
.MeetUpsList__th {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.MeetUpsList__td:nth-child(n+2) {
    width: 200px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

tr:last-child MeetUpsList__td:first-child {
    border-bottom-left-radius: 10px;
}
tr:first-child MeetUpsList__td:last-child {
    border-bottom-right-radius: 10px;
}